@use '@angular/material' as mat;
@import '../../custom-theme.scss';

.sidenav-container {
  height: 100%;
  background-color: #f0f1f9;
}

.sidenav {
  width: 360px;
  padding: 16px;
  background-color: #f0f1f9;
}

.sidenav-toolbar {
  margin-bottom: 32px;
}

.content-sidenav {
  background-color: #f0f1f9;
}

.toolbar {
  background-color: #f0f1f9;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-logo {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-right: 32px;

  @media (min-width: 768px) {
    width: 64px;
    height: 64px;
  }
}

.app-title {
  font: mat.get-theme-typography($m3-light-theme, headline-small, font);
  color: mat.get-theme-color($m3-light-theme, on-secondary-container);
}

.navigation-label {
  padding: 8px 16px;
  font: mat.get-theme-typography($m3-light-theme, label-large, font);
}

.main {
  border-radius: 16px;
  width: calc(100% - 32px);
  height: 85vh;
  box-sizing: border-box;
  overflow: auto;
}