<div class="lp-columns">
  <div>
    <img class="lp-image" width="600px" height="400px" src="../../assets/lp.jpg">
  </div>
  <div class="lp-description">
    <p>
      <b>WheelJourney</b> to innowacyjna aplikacja stworzona z myślą o osobach niepełnosprawnych poruszających się na
      wózkach
      inwalidzkich. Jej głównym celem jest zapewnienie użytkownikom informacji na temat jakości dróg i ścieżek,
      którymi zamierzają podróżować, aby umożliwić im wybór najbardziej dostępnych i bezpiecznych tras.
    </p>

    <p class="lp-description">
      To nie tylko narzędzie nawigacyjne, ale również platforma, która umożliwia wymianę
      doświadczeń i współpracę między osobami poruszającymi się na wózkach inwalidzkich. Dzięki tej aplikacji podróże
      stają się bezpieczniejsze, bardziej dostępne i komfortowe dla wszystkich użytkowników.
    </p>
  </div>
</div>