<div class="lp">
  <img width="160px" height="160px" class="lp-logo" src="../../assets/logo.png">
  <h1 class="lp-title">WheelJourney</h1>
  <p class="lp-subtitle">
    Empowering Barrier-Free Exploration
  </p>
  <a mat-raised-button [routerLink]="['/map']">Zacznij korzystać!</a>
  <div class="lp-columns">
    <div>
      <img class="lp-image" width="600px" height="400px" src="../../assets/lp.jpg">
    </div>
    <div class="lp-description">
      <p>
        WheelJourney to innowacyjna aplikacja stworzona z myślą o osobach niepełnosprawnych poruszających się na wózkach
        inwalidzkich. Jej głównym celem jest zapewnienie użytkownikom informacji na temat jakości dróg i ścieżek,
        którymi zamierzają podróżować, aby umożliwić im wybór najbardziej dostępnych i bezpiecznych tras.
      </p>
    </div>
  </div>
  <p class="lp-description lp-description-center">
    WheelJourney to nie tylko narzędzie nawigacyjne, ale również platforma, która umożliwia wymianę
    doświadczeń i współpracę między osobami poruszającymi się na wózkach inwalidzkich. Dzięki tej aplikacji podróże
    stają się bezpieczniejsze, bardziej dostępne i komfortowe dla wszystkich użytkowników.
  </p>
</div>